<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RAW_Burst_Mode_Extractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RAW_Burst_Mode_Extractor.Properties.Settings>
            <setting name="DNGLabExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceImageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DestImageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsString" serializeAs="String">
                <value>--image-index all --embed-raw false</value>
            </setting>
            <setting name="ImagePrefixes" serializeAs="String">
                <value>CSI_</value>
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>.CR3</value>
            </setting>
        </RAW_Burst_Mode_Extractor.Properties.Settings>
    </userSettings>
</configuration>